MaxScripts/ThirdParty/
ThirdParty/
HowTo/
z_max2015_scripts/
z_max2014_SCRIPTS/
PolyPainter/test/
_common/IniFile_DIST.mxs
/SymmetryFix/dotnet/symmetry/.vs
*.pdb
*.cache
*.user
*.suo
/SymmetryFix/dotnet/symmetry/obj
/.vscode
MaxScripts.code-workspace
